// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.ele{
    border-bottom: 5px solid transparent;
}

.ele:hover{
    border-bottom: 5px solid black;
}

.ch-link{
    text-decoration: none;
    color: black;
    &:hover{
        color: #91cd39;
    }
}

#screen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.d-none{
    display: none;
}

.tre-puntini{
    transform: rotate(90deg);
    font-size: 2rem;
    &:hover{
        color: #91cd39;
        cursor: pointer;
    }
}

.side-link{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.side-link:hover{
    background-color: rgb(239, 238, 238);
    color: black;
}

.op-0{
    opacity: 0;
}
